*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
footer{
height: 47vh;
width: 100vw;
display: flex;
flex-direction: row;
justify-content: space-around;
background-color: #111111;
color: #ffffff;
position: fixed;
bottom: 0;
}
#footerbox{
display: flex;
flex-direction: row;
justify-content: space-between;
width: 76vw;
height: 35vh;
position: fixed;
bottom: 7vh;
border-bottom: 0.5px solid;
border-color: gray;
padding-bottom: 5vh;
background-color: #111111;
font-family: 'Times New Roman', Times, serif;
}

#footerbox a{
    color: gray;
    text-decoration: none;
    display: flexbox;
    font-size: 12px;
    font-family: roboto;
    font-family: 'Times New Roman', Times, serif;
}

#shop {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #ffffff; 
}
#shop :hover{
    text-decoration: underline;
}

#explore {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#explore :hover{
    text-decoration: underline;
}


#support {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#support :hover{
    text-decoration: underline;
}
#logobox {
    font-size: 2vw;
    color: green;

}
#logobox :hover{
    text-decoration: underline;
}

#bottonbox {
    display: flex;
    flex-direction: row;
    position: fixed;
    bottom: 2.5%;
    color: aliceblue;
    justify-content: space-between;
    align-items: center;
    height: 2vh;
    width: 76vw;
    font-size: 13px;
    color: gray;   
}

#bottonbox a {
    color: gray;
    display: flex;
    justify-content: space-between;
    text-decoration: none;
}
#bottonbox :hover{
    text-decoration: underline;
}

#footerlinks {
display: flex;
flex-direction: row;
justify-content: space-between;
padding: 1vw;
text-align: center;
font-size: 13px;
}
#footerlinks a{

    border-right: 3px solid gray;
    padding: 0 7px 0 7px;
}
#footerlinks #cookielink {
    border-right: 0px solid;
}

#country{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    
}
#country span{
    margin-right: 3px;
    color: white;
}
#country a{
    align-content: end;
    padding-left:3px;
    border-left: 3px solid gray;
    color: gray;

}